.box-wrapper {
  flex: 1;
  position: relative;
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--txt-dark-color);
}

.description {
  margin: 12px 0 40px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--txt-gray-color);
}

.customer-review {
  width: 100%;
  position: absolute;
  right: -70px;
  bottom: 20px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 1280px) {
  .customer-review {
    bottom: -30px;
  }
}

@media (max-width: 1100px) {
  .customer-review {
    bottom: -40px;
  }
}

@media (max-width: 1000px) {
  .customer-review {
    position: static;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 30px;
    line-height: 40px;
  }
  .description {
    font-size: 14px;
    line-height: 160%;
  }
}
