.wrapper {
  display: flex;
  margin-top: 70px;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 0 20px;
  }
}
