.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-primary);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--txt-white-color);
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}
